*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.debug header{
    background-color: aqua;
    padding-top: 5px;
    padding-bottom: 5px;

}

header>main{
    background-color: tan;
    border: 1px dashed;
    padding: 0px 20%;
}

header>nav{
    background-color: tan;
    border: 1px dashed;
    padding-right: 10%;
}

header>aside{
    background-color: tan;
    border: 1px dashed;
    padding-left: 10%;
}

.container{
    display: flex;
    justify-content: center;
}   

/*end header*/


.box1{
    background-color: blue;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.box1>main{
    display: flex;
    background-color: pink;
    height: 200px;
    width: 400px;
    border: 1px dashed;
}

/*end box1*/

.box2{
    display:flex;
    padding: 15px 0px;
    justify-content: center;
}
.box2>main{
    border: 1px dashed;
    background-color: blue;
    height: 250px;
    width: 350px;
}
.box2>aside{ 
    background-color: pink;
    border: 1px dashed;
    height: 250px;
    width: 220px;
}

/*end box2*/

.box3{
    background-color: lightgray;
    display:flex;
    padding: 15px 0px;
    justify-content: center;
}
.box3>aside{
    background-color: pink;
    border: 1px dashed;
    height: 250px;
    width: 220px;
}
.box3>main{
    border: 1px dashed;
    background-color: blue;
    height: 250px;
    width: 350px;
}

/*end box3*/

.box4{
    display:flex;
    padding: 15px 0px;
    justify-content: center;
}        
.box4>main{
    border: 1px dashed;
    background-color: blue;
    height: 250px;
    width: 350px;
}
.box4>aside{
    background-color: pink;
    border: 1px dashed;
    height: 250px;
    width: 220px;
}

/*end box4*/

.box5{
    background-color: lightgray;
    display:flex;
    padding: 15px 0px;
    justify-content: center;
}
.box5>main{
    background-color: forestgreen;
    height: 450px;
    width: 570px;
    border: dashed 1px;
}

/*end box5*/

.box6{
    background-color: rgb(34, 34, 34);
    display:flex;
    padding: 5px 0 15px 0;
    justify-content: center;
}
.box6>nav{
    background-color: palevioletred;
    height: 300px;
    width: 200px;
    border: 1px dashed;
}

#columns{
    display: flex;
}
.boxcolumn{
    background-color: aquamarine;
    width: 92px;
    border: 1px dashed; 
}

/*end box6*/